<!--
  Recuerde conservar los id, no deben ser modificados
  ids = user-list__filter, user-list__table, user-list__table-item-[index], user-list__table-item-[index]-avatar, user-list__table-item-[index]-first_name, user-list__table-item-[index]-email, user-list__table-item-[index]-btn-delete
  Remplazar [index] por el valor ejemplo "user-list__table-item-0"
-->


<div class="contable">
  <input type="search" placeholder="Search..." name="filterUserByName" id="user-list__filter" [(ngModel)]="filterUserByName" >
<table id="user-list__table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Avatar</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usr of usrs | filterUserByName:filterUserByName , let i = index " id="user-list__table-item-{{i}}">
      <td id="user-list__table-item-{{i}}-email">{{usr.email}}</td>
      <td id="user-list__table-item-{{i}}-first_name">{{usr.first_name}}</td>
      <td ><img id="user-list__table-item-{{i}}-avatar" src="{{usr.avatar}}" alt=""></td>
      <td> <button class="danger icon-only outlined" (click)="deleteusr(usr.id, usr.first_name, usr.last_name, i)" id="user-list__table-item-{{i}}-btn-delete"> <i class="material-icons">delete_forever</i> </button> </td>
    </tr>
  </tbody>
</table>
</div>


