<!--
  Recuerde conservar los id, no deben ser modificados
  ids = nav-bar__btn-list-user, nav-bar__btn-create-user, nav-bar__btn-logout
-->

<header class="header">
  <nav class="nav">
    <a href="" class="logo nav-link">Ceiba | Prueba</a>
  
  <label class="nav-toggle" for="check">
    <span class="material-icons">
      menu
      </span>
    </label>
    <input type="checkbox" name="" id="check" class="check">
    
    <div class="nav-menu">
      <a id="nav-bar__btn-list-user" class="secondary text" routerLink="/users/list" >List</a>
     <a id="nav-bar__btn-create-user" class="secondary text" routerLink="/users/create">Create</a>
     <a id="nav-bar__btn-logout" class="danger text"  (click)="logout()">Exit</a>
    </div>
  </nav>
</header>